@font-face {
  font-family: cFont;
  src: url(fonts/Aceh-Light.ttf);
}


.App {
  text-align: center;
  background: linear-gradient(#93a5cf,#2b1f47) fixed;
  font-family: cFont;
}
html {
  background: linear-gradient(#93a5cf,#2b1f47) fixed;
}

.search {
  top: 11vw;
  left: 32vw;
  color: #fff;
}

.search-img img{
  width: 100vw;
}

.search-img{
  width: 100vw;

}

.search-page {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.search-results{
  display: flex;
  flex-direction: column;
  width: 75vw;
  height: min-content;
  background-color: rgba(255, 255, 255, 0.301);
  z-index: 1;
  overflow: auto;
  margin-top: 1vw;
  }

.search-results img {
  width: 10vw;
  align-self: flex-start;
}

input[type='text'],
.search-field {
  width: 700px;
  text-align: center;
  border: none;
  color: #ffffff;
  border-bottom: 1px solid white;
  background-color: rgba(255, 255, 255, 0.479);
  font-size: 18px;
}

.single-attraction{
  display: flex;
  height: fit-content;
  margin: .5em;
  border: 1px solid  #F9BB80;
  color: white;
  align-items: center;
  font-size: .7em;
}


.single-attraction:hover {
  border: 1px solid white;
  background-color: #F9BB80;
  color: rgb(0, 0, 0);
  transition: all .7s;
}

.single-attraction-text {
  display: flex;
  flex-direction: column;
  font-size: 1.4em;
  width: 55vw;
}

.single-attraction-text h2, h4{
  margin: 0;
  letter-spacing: 1.5px;
}

.logo{
  width: 20vw;
}

nav{
  display: flex;
  justify-content: space-between;
  width: 98vw;

}
.lo-nav{
  width: 10vw;
  display: flex;
  justify-content: space-around;
  color: #fff;
}

.lo-nav a {
  text-decoration: none;
  font-size: 1.2em;
  font-weight: 500;
  color: #fff;
  letter-spacing: 1px;
}
 .lo-nav a:hover{
   color: #F9BB80;
   letter-spacing: 1.5px;
   transition: color .5s;
 }


 .li-nav{
   width: 30vw;
   display: flex;
  justify-content: space-evenly;
  color: #fff;

 }

 .li-nav a{
  display: flex;
  text-decoration: none;
  font-size: 1.2em;
  font-weight: 500;
  color: #fff;
  letter-spacing: 1px;
 }

 .li-nav a:hover {
  color: #F9BB80;
  letter-spacing: 1.5px;
  transition: color .5s;
 }

 .lo-nav-btn{
   all: unset;
   font-size: 1.2em;
   font-weight: 500;
   color: #fff;
   letter-spacing: 1px;
 }

 .lo-nav-btn:hover{
  color: #F9BB80;
  letter-spacing: 1.5px;
  transition: color .5s;
 }


.nav-search-results{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  z-index: 2;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.26);
}

.single-nav-result{
  font-size: .7em;
  width: 15vw;
  display: flex;
  border-bottom: 1px solid black;
  margin-top: .5em;
  padding-bottom: .5em;

}

.single-nav-result:hover  {
  background-color: rgba(255, 255, 255, 0.384);
}

.single-nav-result img{
 width: 5vw;
}

input[type='text'],
.nav-search-field{
  width: 15vw;
  text-align: center;
  border: none;
  color: black;
  border-bottom: 1px solid white;
  background-color: rgba(255, 255, 255, 0.479);
  font-size: 18px;
}

.home-head{
  font-family: cFont;
  font-size: 2.8em;
  color: #fff;
  background: radial-gradient(#ffffff00,#ffffff6e) fixed;
}

.home-head h2{
  font-size: 3em;
  font-weight: 100;
  margin-top: .3em;
  margin-bottom: 0;
  color: #F9BB80;
  background: -webkit-linear-gradient(rgba(238, 238, 238, 0),#F9BB80);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}
.home-head p {
  margin: 0;
}

.footer{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 1vw;
  align-items: baseline;
}

.foot-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 20vw;
  font-family: cFont;
  color: white;
}

.foot-section-2 {
  width: 20vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-left: 2px solid #F9BB80;
  border-right: 2px solid #F9BB80;
  padding: 0 5vw;
  border-image: 
  linear-gradient(
    to bottom, 
    #F9BB80, 
    rgba(0, 0, 0, 0)
  ) 1 100%;
  font-family: cFont;
  color: white;
  text-decoration: none;
}

.foot-section:hover, .foot-section-2:hover{
  color: #F9BB80;
  transition: all .5s ease-in-out;
}

.foot-section-2 img {
  width: 20vw;
}


.special-pic{
  width: 15vw;
}

.foot-section img{
  width: 20vw;

}

.login-page{
  display: flex;
  justify-content: center;
  height: 30vw;
  align-items: center;
  font-family: cFont;
  color: #fff;
}

.login-form{
  display: flex;
  flex-direction: column;
  width: 50vw;
  height: 15vw;
  align-items: center;
  background: linear-gradient(#ffffff00, #f9ba807a) fixed;
  border-radius: 10%;

}

input[type='text'],
.form-input{
  width: 15vw;
  text-align: center;
  border: none;
  color: black;
  border-bottom: 1px solid white;
  background-color: rgba(255, 255, 255, 0.479);
  font-size: 18px;
}


.login-form div{
  width: fit-content;
  margin-top: .5vw;
}

.login-form form{
  margin-top: 2vw;
  align-items: inherit;
  display: flex;
  flex-direction: column;
}

.login-form h2{
  color: #F9BB80;
  margin-bottom: 0;
}

.email-label{
  margin-right: 1.7vw;
}

.login-form button{
  padding: .1vw;
  all: unset;
  text-decoration: none;
  font-size: 1.2em;
  font-weight: 500;
  color: #fff;
  letter-spacing: 1px;
  border: 1px solid #F9BB80;
  margin-top: 1vw;
}

.login-form button:hover{
  padding: .2vw;
  color: #F9BB80;
  border-color: #fff;
  transition: all 1s ease-in-out;
}

.signup-page{
  display: flex;
  justify-content: center;
  height: 30vw;
  align-items: center;
  font-family: cFont;
  color: #fff;
}

.signup-form{
  display: flex;
  flex-direction: column;
  width: 50vw;
  height: 16vw;
  align-items: center;
  background: linear-gradient(#ffffff00, #f9ba807a) fixed;
  border-radius: 10%;
}
.signup-form h2{
  margin-bottom: 0;
  color: #F9BB80;

}

.signup-form form{
  height: inherit;
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.signup-form form label{
  margin-top: .5vw;
}

.signup-form button{
  all:unset;
  align-self: center;
  padding: .1vw;
  text-decoration: none;
  font-size: 1.2em;
  font-weight: 500;
  color: #fff;
  letter-spacing: 1px;
  border: 1px solid #F9BB80;
  margin-top: 1vw;
}

.signup-form button:hover{
  padding: .2vw;
  color: #F9BB80;
  border-color: #fff;
  transition: all 1s ease-in-out;
}

.concert-page{
  display: flex;
  flex-direction: column;
}

.single-category{

}

.single-category img{
  height: 5vw;
}