@font-face {
  font-family: cFont;
  src: url(fonts/Aceh-Light.ttf);
}


.App {
  text-align: center;
  font-family: cFont;
}

html {
  background-image: url('./possible2.png');
  background-size: cover;
  background-attachment: scroll;
}

a{
  all: unset;
}

.search {
  top: 11vw;
  left: 32vw;
  color: #fff;
}

.search-img img{
  width: 100vw;
}

.search-img{
  width: 100vw;

}

.search-page {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.search-results{
  display: flex;
  flex-direction: column;
  width: 75vw;
  height: min-content;
  background-color: rgba(255, 255, 255, 0.301);
  z-index: 1;
  overflow: auto;
  margin-top: 1vw;
  }

.search-results img {
  width: 10vw;
  align-self: flex-start;
}

input[type='text'],
.search-field {
  width: 700px;
  text-align: center;
  border: none;
  color: #ffffff;
  border-bottom: 1px solid white;
  background-color: rgba(255, 255, 255, 0.479);
  font-size: 18px;
}

.single-attraction{
  display: flex;
  height: fit-content;
  margin: .5em;
  border: 1px solid  #12232E;
  color: white;
  align-items: center;
  font-size: .7em;
}


.single-attraction:hover {
  border: 1px solid white;
  background-color: #12232E;
  transition: all .7s;
  cursor: pointer;
}

.single-attraction-text {
  display: flex;
  flex-direction: column;
  font-size: 1.4em;
  width: 55vw;
}

.single-attraction-text h2, h4{
  margin: 0;
  letter-spacing: 1.5px;
}

.logo{
  width: 20vw;
  margin-right: 3vw;
}

.logo-text{
  all: unset;
  font-size: 2em;
  font-weight: 500;
  color: #fff;
  letter-spacing: 1px;
  margin: 0;
  cursor: pointer;
}

nav{
  display: flex;
  justify-content: space-between;
  width: 98vw;

}
.lo-nav{
  width: 10vw;
  display: flex;
  justify-content: space-around;
  color: #fff;
}

.lo-nav a {
  text-decoration: none;
  font-size: 1.2em;
  font-weight: 500;
  color: #fff;
  letter-spacing: 1px;
}
 .lo-nav a:hover{
   color: #12232E;
   letter-spacing: 1.5px;
   transition: color .5s;
   cursor: pointer;
 }


 .li-nav{
   width: 10vw;
   display: flex;
  justify-content: space-around;
  color: #fff;

 }

 .li-nav a{
  display: flex;
  text-decoration: none;
  font-size: 1.2em;
  font-weight: 500;
  color: #fff;
  letter-spacing: 1px;
 }

 .li-nav a:hover {
  color: #12232E;
  letter-spacing: 1.5px;
  transition: color .5s;
  cursor: pointer;
 }

 .lo-nav-btn{
   all: unset;
   font-size: 1.2em;
   font-weight: 500;
   color: #fff;
   letter-spacing: 1px;
 }

 .lo-nav-btn:hover{
  color: #12232E;
  letter-spacing: 1.5px;
  transition: color .5s;
  cursor: pointer;
 }


.nav-search-results{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-left: .1vw;
  z-index: 2;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.70);
}

.single-nav-result{
  font-size: .7em;
  width: 15vw;
  display: flex;
  border-bottom: 1px solid black;
  margin-top: .5em;
  padding-bottom: .5em;

}

.single-nav-result:hover  {
  background-color: rgba(255, 255, 255, 0.384);
}

.single-nav-result img{
 width: 5vw;
}

input[type='text'],
.nav-search-field{
  width: 15vw;
  text-align: center;
  border: none;
  color: black;
  border-bottom: 1px solid white;
  background-color: rgba(255, 255, 255, 0.479);
  font-size: 18px;
}

.home-head{
  font-family: cFont;
  font-size: 2.8em;
  color: #fff;
  background: radial-gradient(#ffffff00,#ffffff6e) fixed;
}

.home-head h2{
  font-size: 3em;
  font-weight: 100;
  margin-top: .3em;
  margin-bottom: 0;
  color: #12232E;
  background: -webkit-linear-gradient(rgba(238, 238, 238, 0),#12232E);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}
.home-head p {
  margin: 0;
}

.footer{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 1vw;
  align-items: baseline;
}

.foot-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 20vw;
  font-family: cFont;
  color: white;
}

.foot-section-2 {
  width: 20vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-left: 2px solid #12232E;
  border-right: 2px solid #12232E;
  padding: 0 5vw;
  border-image: 
  linear-gradient(
    to bottom, 
    #12232E, 
    rgba(0, 0, 0, 0)
  ) 1 100%;
  font-family: cFont;
  color: white;
  text-decoration: none;
}


.foot-text{
  background-color: #12232e49
}


.foot-section:hover > .foot-text, .foot-section-2:hover > .foot-text {
  background-color: rgba(255, 255, 255, 0.103);
  color: #12232E;
  transition: all .3s ease-in-out;
  cursor: pointer;
}

.foot-section-2 img {
  width: 20vw;
}


.special-pic{
  padding-bottom: 2.5vw;
}

.foot-section img{
  width: 20vw;

}

.login-page{
  display: flex;
  justify-content: center;
  height: 30vw;
  align-items: center;
  font-family: cFont;
  color: #fff;
}

.login-form{
  display: flex;
  flex-direction: column;
  width: 50vw;
  height: 15vw;
  align-items: center;
  background: linear-gradient(#ffffff00, #f9ba807a) fixed;
  border-radius: 10%;

}

input[type='text'],
.input-field{
  width: 15vw;
  text-align: center;
  border: none;
  color: black;
  border-bottom: 1px solid white;
  background-color: rgba(255, 255, 255, 0.479);
  font-size: 18px;
}


.login-form div{
  width: fit-content;
  margin-top: .5vw;
}

.login-form form{
  margin-top: 2vw;
  align-items: inherit;
  display: flex;
  flex-direction: column;
}

.login-form h2{
  color: #12232E;
  margin-bottom: 0;
}

.email-label{
  margin-right: 1.7vw;
}

.login-form button{
  padding: .1vw;
  all: unset;
  text-decoration: none;
  font-size: 1.2em;
  font-weight: 500;
  color: #fff;
  letter-spacing: 1px;
  border: 1px solid #12232E;
  margin-top: 1vw;
}

.login-form button:hover{
  padding: .2vw;
  color: #12232E;
  border-color: #fff;
  transition: all 1s ease-in-out;
  cursor: pointer;
}

.signup-page{
  display: flex;
  justify-content: center;
  height: 30vw;
  align-items: center;
  font-family: cFont;
  color: #fff;
}

.signup-form{
  display: flex;
  flex-direction: column;
  width: 50vw;
  height: 16vw;
  align-items: center;
  background: linear-gradient(#ffffff00, #f9ba807a) fixed;
  border-radius: 10%;
}
.signup-form h2{
  margin-bottom: 0;
  color: #12232E;

}

.signup-form form{
  height: inherit;
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.signup-form form label{
  margin-top: .5vw;
}

.signup-form button{
  all:unset;
  align-self: center;
  padding: .1vw;
  text-decoration: none;
  font-size: 1.2em;
  font-weight: 500;
  color: #fff;
  letter-spacing: 1px;
  border: 1px solid #12232E;
  margin-top: 1vw;
}

.signup-form button:hover{
  padding: .2vw;
  color: #12232E;
  border-color: #fff;
  transition: all 1s ease-in-out;
  cursor: pointer;
}

.concerts{
  background-image: url('./background-spread.png');
  background-attachment: fixed;
  background-size: cover;
  font-family: cFont;
}

.concert-page{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.single-category{
display: flex;
border-bottom: 1px solid #2b1f47;
justify-content: space-between;

}

.single-category:hover {
  border: 1px solid white;
  background-color: #12232E;
  color: #fff;
  transition: all .5s;
  cursor: pointer;
}

.single-category h2{
  margin-top: 0;
}

.single-category h3{
  margin-right: .5vw;
}

.single-category img{
  width: 8vw;
}

.concert-head{
  background: radial-gradient(#ffffff00,#ffffff6e) fixed;
  width: 99vw;
  margin-bottom: 1vw;
  border-bottom: 1px solid #2b1f47;
}


.concerts-list{
  background-color: rgba(255, 255, 255, 0.66);
  width: 70vw;
  border: 1px solid #2b1f47;

}

.cat-dates{
  width: 8vw;
  display: flex;
  align-items: center;
  font-weight: 700;
  letter-spacing: 1px;

}

.cat-dates p{
  margin: 0;
}



.sports{
  background-image: url('./sports-bkg.png');
  background-attachment: fixed;
  background-size: cover;
  font-family: cFont;
}

.sports-page{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.sports-head{
  background: radial-gradient(#ffffff00,#ffffffa2) fixed;
  width: 99vw;
  margin-bottom: 1vw;
  border-bottom: 1px solid #2b1f47;
}


.sports-list{
  background-color: rgba(255, 255, 255, 0.86);
  width: 70vw;
  border: 1px solid #2b1f47;

}


.profile-page{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45vw;

}


.profile{
  height: 25vw;
  width: 50vw;
  display: flex;
  flex-direction: column;
  background: linear-gradient(#ffffff00, #f9ba807a) fixed;
  border-radius: 10%;

}


.prof-pic{
  width: 10vw;
}


.profile-head{
  margin-top: 1vw;
}

.profile-head h3{
  font-size: 1.6em;
  font-weight: 300;
  margin-top: .5vw;
  color: #fff;
}

.profile-head p{
  font-size: 1.1em;
  font-weight: 300;
  color: #fff;
}

.profile-links{
  display: flex;
  justify-content: space-around;
}

.profile-links a{
  all: unset;
  align-self: center;
  all: unset;
  padding: .1vw;
  margin-top: 1vw;
  text-decoration: none;
  font-size: 1.2em;
  font-weight: 500;
  color: #12232E;
  letter-spacing: 1px;
  border: 1px solid #fff;
  width: fit-content;
  align-self: center;
}

.profile-links a:hover{
  color: #fff;
  background-color: #12232e4b;
  border-color: #12232E;
  transition: all .5s ease-in-out;
  cursor: pointer;

}

.details-page{
  display: flex;
  justify-content: center;
  margin-top: 3vw;
}



.details-container{
  width: 80vw;
}


.details-head h3{
  color: white;
  font-weight: 100;
  font-size: 1.5vw;
} 

.details-details{
  background: radial-gradient(#ffffff00,#ffffff94) fixed;
  padding: .5em;
  display: flex;
  flex-direction: column;
  width: 35vw;
  
}

.details-details h3{
  margin-bottom: 0;
}

.details-details p{
  letter-spacing: 1.10px;
  font-weight: 600;
}

.top-half-details{
  display: flex;
  justify-content: space-around;

}

.details-img{
  width: 27vw;
}

.details-details a{
  all: unset;
  padding: .1vw;
  text-decoration: none;
  font-size: 1.2em;
  font-weight: 500;
  color: #12232E;
  letter-spacing: 1px;
  border: 1.5px solid #fff;
  width: fit-content;
  align-self: center;
}

.details-details a:hover{
  color: #fff;
  background-color: #12232e4b;
  border-color: #12232E;
  transition: all .5s ease-in-out;
  cursor: pointer;
}

.delete-event-btn{
  all: unset;
  padding: .1vw;
  text-decoration: none;
  font-size: 1.2em;
  font-weight: 500;
  color: #12232E;
  letter-spacing: 1px;
  border: 1.5px solid #fff;
  width: fit-content;
  align-self: center;
  
}

.delete-event-btn:hover{
  color: #fff;
  background-color: #12232e4b;
  border-color: #12232E;
  transition: all .5s ease-in-out;
  cursor: pointer;
}

.add-comment{
  display: flex;
  flex-direction: column;
}

input[type='text'], .comment-input{
  width: 45vw;
  height: 5vw;
}

.submit-comment-btn {
  all: unset;
  padding: .1vw;
  margin-top: 1vw;
  text-decoration: none;
  font-size: 1.2em;
  font-weight: 500;
  color: #12232E;
  letter-spacing: 1px;
  border: 1px solid #fff;
  width: fit-content;
  align-self: center;
}

.submit-comment-btn:hover{
  color: #fff;
  background-color: #12232e4b;
  border-color: #12232E;
  transition: all .5s ease-in-out;
  cursor: pointer;
}

.comment-list{
  padding: 0;
  margin: 0;

}

.comment-container {
  background-color: #12232E;
  color: #fff;
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  margin-top: .5vw;

}

.comment-container p {
  margin-top: 0;
}

.comment-container h5{
  letter-spacing: 1.10px;
  font-size: 1em;
  font-weight: 600;
}

.comment-time{
  align-self: flex-end;
  margin-right: .5vw;
}

.comment-head{
  color: #fff;
  letter-spacing: 1.10px;
  font-weight: 100;
}

.add-comment-bkg{
  padding-bottom: .2vw;
  width: fit-content;
}

.center-add-com{
  display: flex;
  justify-content: center;
}

.create-events-page{
  display: flex;
  justify-content: center;
  height: 40vw;
  align-items: center;
  font-family: cFont;
  color: #fff;
}

.create-events-form {
  display: flex;
  flex-direction: column;
  width: 50vw;
  align-items: center;
  background: linear-gradient(#ffffff00, #f9ba807a) fixed;
  border-radius: 10%;
}

.create-events-form h2{
  font-size: 2em;
  font-weight: 200;
  margin-bottom: 0%;
}

.create-event{
  display: flex;
  flex-direction: column;
  height: 30vw;
  justify-content: space-around;
  align-items: flex-end;

}

.create-event label{
  letter-spacing: 1.10px;
}

input[class='create-input'], 
.create-input {
  width: 15vw;
  text-align: center;
  border: none;
  color: black;
  border-bottom: 1px solid white;
  background-color: rgba(255, 255, 255, 0.479);
  font-size: 18px;
  height: 1.5vw;
  margin-left: .2vw;
}

.create-event-btn {
  all: unset;
  align-self: center;
  all: unset;
  padding: .1vw;
  text-decoration: none;
  font-size: 1.2em;
  font-weight: 500;
  color: #12232E;
  letter-spacing: 1px;
  border: 1px solid #fff;
  width: fit-content;
  align-self: center;

}

.create-event-btn:hover{
  color: #fff;
  background-color: #12232e4b;
  border-color: #12232E;
  transition: all .5s ease-in-out;
  cursor: pointer;
}